$brand-primary: #b6b7cb;
$brand-light-primary: #17d7fa;

.project-card-layout {
  // margin-left: 110px;
  position:relative;
  left:110px;
  overflow: scroll !important;
}
#create-header {
  margin-block: 0px;
  font-size: 60px;
  color: whitesmoke;
  padding-left: 10px;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-block: 9.5px;
}

#create-button {
  margin-block: 20px;
  border-radius: 8px;
  padding: 4px;
  background: linear-gradient(to right, rgb(92, 188, 242), rgb(87, 82, 212));
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  display: block;
  width: 200px;
  height: 70px;
  margin:30px auto;
  outline: none;
  cursor: pointer;
}

.field {
  font-size: 22px;
  color: whitesmoke;
  padding: 20px;
}

label {
  margin-right: 10px;
}
.filters {
  display: block;
  margin: 10px 20px;
  width:90%;
  display: grid;
  grid-template: auto / repeat(7, 1fr);
  // display:flex;
  // overflow: scroll;
  padding:0px !important;
}
.filters button {
  box-sizing: border-box !important;
  min-width:75px;
  height:50px;
  margin-bottom: 15px;
  cursor: pointer;

}
input {
  font-size: 22px;
  background-color: whitesmoke;
  height: 26px;
  border-radius: 10px;
  padding-left: 10px;
  padding-block: 6px;
}
#project-description {
  padding-block: 6px;
  width: 500px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 22px;
  vertical-align: top;
}
#project-name {
  width: 280px;
}

hr {
  width: 100%;
}